// modification de la couleur primaire bootstap
$primary: #3b4f84;

// Debut du style des élements de la nav :

#linkSignInIcon{
    color: green;
}

#linkUserPlusIcon{
    color: blue;
}

// le logo du panier (cadie)
.fa-shopping-cart{
    color: orange;
}

// le nombre d'article qui s'ajoute en haut du panier
#nombre{
    position: absolute;
    bottom: 25px;
    right: 9px;
    font-size: smaller;
}

#linkPseudoUser{
    color: white;
}

#LinkSignOutIcon{
    color: red;
}

#navbarDropdown{
    color: white;
}

// La div en position absolute pour gere le numero qui s'ajouter en haut du panier
.supportNombrePanier{
    position: relative;
}

#btnRecherche{
    color: white;
}

// Fin du style des élements de la nav !


// Debut du style des bouton "voir" , "ajouter au panier" , inputQte

#btnVoir{
    display: flex;
    justify-content: center;
    margin-bottom:10px
}

#btnAjouterPanier{
    display: flex; 
    justify-content: center; 
    align-items: baseline; 
    width: 100%; 
    height: 40px;
}

#inputQte{
    width: 50px; 
    position: absolute; 
    left: 90px; 
    bottom: 25px;
}
// Fin du style des bouton "voir" , "ajouter au panier" , inputQte

// card qui contien les articles page ( card.html.twig )
#cardRef{
    margin-right: 0;
    margin-left: 0;
}

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
    background-color: white;
}
.vignette {
    height: 100px;
    width: auto;
}
